<?xml version="1.0" ?>
<!--https://nlog-project.org/config/?tab=layout-renderers     layout 可配置清单yy1-->
<!--https://github.com/reactive-markets/NLog.Targets.ElasticSearch/wiki NLog.Targets.ElasticSearch 扩展 elk  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="App_Data\Logs\nlogs.log"
      >
	<!-- 定义日志输出的根目录为web目录的上级目录 -->
	<variable name="logdir" value="logs"/>

	<extensions>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>
	<!--定义日志的目标/输出-->
	<targets async="true">
		<target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
			<target xsi:type="ElasticSearch" uri="http://192.168.0.11:9200/" index="_admin"  >
				<field name="IP" layout="111" />
				<field name="callSite" layout="${callsite:filename=true}" />
				<field name="exception" layout="${exception:tostring}" />
				<field name="serverName" layout="${machinename}" />
				<field name="url" layout="${aspnetcore-request-url}" />
				<field name="host" layout="${machinename}" />
				<field name="application" layout="${applicationName}" />
			</target>
		</target>

		<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${event-context:item=Action} ${message} ${event-context:item=Amount} ${stacktrace}" />
		</target>
	</targets>
	<!--<targets async="true">
		<target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
			<target xsi:type="ElasticSearch" uri="http://192.168.0.11:9200/" index="vgpay_std_admin_${date:format=yyyyMM}"  >
				<field name="IP" layout="${aspnet-request-ip}" />
				<field name="callSite" layout="${callsite:filename=true}" />
				<field name="exception" layout="${exception:tostring}" />
				<field name="serverName" layout="${machinename}" />
				<field name="url" layout="${aspnetcore-request-url}" />
				<field name="host" layout="${machinename}" />
				<field name="application" layout="${applicationName}" />
			</target>
		</target>
	</targets>-->
	<rules>
		<logger name="*" minlevel="Info" writeTo="elastic" />
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>